extends layout

block title
  title= 'About | RCS Photography'
  
block content
  div(class='page-header')
    h1 About
      br
      small by Raphael Corr&ecirc;a
    
  p This is a portfolio for showcasing my recent photography, one of my biggest hobbies.
    
  p All images are taken using a Sony DSC-RX100 II and V cameras.
    
  p I shoot mostly in manual and record in raw format. I also use CaptureOne to edit my work.
    
  p This website was written in Node.js and uses the Twitter Bootstrap CSS framework. All photos are uploaded on Amazon S3 and served by CloudFront, the album info is stored on Cloudant DBaaS, and the site is hosted on IBM Bluemix.
    
  p Thank you for viewing!  
    
  p The source code can be found on 
    a(href='https://www.github.com/r-c-s/rcsphoto', target='_blank') GitHub.
    
  img(style='width:500px; max-width: 100%' src='http://d164y11hqgve5j.cloudfront.net/site/968_.JPG')
  
  br
  br