extends layout

block title
  title= album.albumInfo.name + ' | RCS Photography'
  
block content   
  link(rel='stylesheet', href='/css/album.css')

  div(class='container-fluid')
    div(class='page-header')
      h1 #{ album.albumInfo.name }
        br
        small #{ album.images.length } images
      
  div(class='container-fluid', id='thumbsContainer')
    - for (var i = 0; i < album.images.length; i++) { 
      - var image = album.images[i];
      - if (image) {
        span(id='thumb'+i, class='noselect thumb scale', style='background-image: url('+image.thumb+')', onclick='select('+i+')', ondragstart='return false;')
      - }
    - } 
        
  div(id='overlay', class='noselect', onclick='unselect()') 
    div(class='arrow opacity right', id='close') 
      a(class='fa fa-times')
 
    div(id='imageContainer') 
      div(class='vertically-align', style='position:relative;')
        img(id='image')
        div(id='info')
          p(id='index')
          a(id='url', target='_blank')
        
    div(class='arrow opacity vertically-align left', id='prev') 
      a(class='fa fa-angle-left')
    div(class='arrow opacity vertically-align right', id='next') 
      a(class='fa fa-angle-right')
  
  script.
    var images = !{ JSON.stringify(album.images) }; 
    
  script(src='/js/album.js')