extends layout

block title
  title= 'RCS Photography'

block content   
  div(class='page-header')
    h1 Albums
      
  div(id='albumThumbsContainer')
    - for (var i = 0; i < albums.length; i++) { 
      a(href='/'+albums[i].id)
        div(class='albumThumb panel panel-default')
          div(class="panel-heading")
            a(href='/'+albums[i].id) #{ albums[i].name }
          div(class="panel-body", style='padding:0px;')
            a(href='/'+albums[i].id)
              div(class='albumThumbImg', style='background-image:url(\"'+albums[i].coverImage+'")')
    - } 
      
  script.
    $(window).resize(function() {
      var width = $('#albumThumbsContainer').width(); 
     
      var boundingWidth;
  
      if      (width > 1200) boundingWidth = (100/6)+'%';
      else if (width >  992) boundingWidth = (100/5)+'%';
      else if (width >  768) boundingWidth = (100/4)+'%';
      else if (width >  480) boundingWidth = (100/3)+'%';
      else if (width >  320) boundingWidth = (100/2)+'%';
      else                   boundingWidth = (100/1)+'%';
                         
      $('.albumThumb').each(function() {  
        $(this).css('width', boundingWidth); 
        $(this).css('height', $(this).css('width')); 
      });                           
      $('.albumThumbImg').each(function() {  
        $(this).css('width', '100%'); 
        $(this).css('height', $(this).css('width').replace('px','')-40); 
      });           
    });
    
    $(document).ready(function() {     
      $(window).trigger('resize');
    }); 