#rcs-photo {

  .overflow-hidden {
    overflow: hidden;
  }

  .visibility-hidden {
    visibility: hidden;
  }

  @keyframes loading-animation {
    from { background-color: #eee; }
    to { background-color: lightgray; }
  }

  .loading-fade-in-out {
    animation: loading-animation 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  .loading-background-spinner {
    background-image: url("./loading.gif");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: auto;
  }

  .loading-text {
    @extend .loading-fade-in-out;
    color: transparent;
    display: inline-block;
    line-height: 1em;
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .page-header {
    margin-bottom: 20px;

    small {
      display: block;
    }
  }

  .image-not-ready {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .image-ready {
    opacity: 1;
    transition: opacity 0.3s;
  }

  #nav {
    @extend .flex-column;
    justify-content: center;
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 1;
    margin-bottom: 20px;

    .container {
      @extend .flex-row;
      align-items: baseline;
    }

    a {
      text-decoration: none;
      color: #777;
      font-weight: 300;
    }

    .brand {
      font-size: 1.2em;
      margin-right: 20px;
    }
  }

  #about {
    .body {
      border-top: 1px solid lightgray;
      padding-top: 15px;

      .image-container {
        img {
          max-height: 500px;
          max-width: 100%;
        }
      }
    }
  }

  #album-list {
    $padding-between-albums: 10px;

    .album-thumbs-container {
      width: calc(100% + $padding-between-albums);

      .card-container {
        display: inline-block;
        padding-right: $padding-between-albums;
        padding-bottom: $padding-between-albums;

        a {
          color: #00849b;
          text-decoration: none;
        }

        .card-title {
          @extend .flex-column;
          justify-content: center;
          text-align: center;
          margin: 0;
          height: 30px;
        }

        .card-image-container { 
          @extend .loading-fade-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
    
          .card-image-bottom {
            flex-shrink: 1;
            min-width: 100%;
            min-height: 100%
          }
        }
      }
    }
  }

  #album-page {
    .thumbs-container {
      @extend .flex-row;
      align-items: center;
      flex-wrap: wrap;

      .image-thumb-container {
        display: inline-block;
        padding: 10px;
        text-align: center;  
        height: fit-content;
        
        img {
          cursor: pointer;
          max-height: 100%;
          max-width: 100%;
        }

        .image-placeholder {
          @extend .loading-fade-in-out;
        }
      } 
    }

    .animate-scale {
      -webkit-transition: -webkit-transform 0.3s ease;
      -moz-transition: -moz-transform 0.3s ease;
      -o-transition: -o-transform 0.3s ease;
      -ms-transition: -ms-transform 0.3s ease;
      transition: transform 0.3s ease;
    }

    .animate-scale:hover, .animate-scale.active {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  #active-image {
    @extend .flex-row;
    justify-content: center;
    z-index: 2;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .top-icon-container {
      @extend .flex-row;
      align-items: center;
      color: #eee;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      top: 10px;
      text-decoration: none;

      small {
        margin-left: 5px;
      }
    }

    .icon-right {
      right: 10px;
    }

    .icon-left {
      left: 10px;
    }

    .images-container {
      @extend .flex-row;
      position: relative;
      width: 100%;
      height: 100%;

      .image-container {
        @extend .loading-background-spinner;
        @extend .flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        user-select: none;
  
        .nav-icon-container {
          @extend .flex-row;
          justify-content: center;
          align-items: center;
          min-width: 40px;
          min-height: 40px;
          border: 1px solid #333;
          border-radius: 50%;
          cursor: pointer;
          margin: 0 10px;
  
          .nav-icon {
            color: #eee;
          }
        }
  
        .nav-icon-container:hover {
          background-color: #333;
        }
  
        img {
          pointer-events: none;
          max-height: 100%;
          max-width: calc(100% - 120px);
        }
      }
  
      .next {
        position: absolute;
        right: -100%;
      }
  
      .previous {
        position: absolute;
        right: 100%;
      }
    }

    @keyframes transition-to-next-animation {
      from { right: 0; }
      to { right: 100%; }
    }

    @keyframes transition-to-previous-animation {
      from { right: 0; }
      to { right: -100%; }
    }

    .transition-to-next {
      animation: transition-to-next-animation 0.5s;
      animation-fill-mode: forwards;
    }

    .transition-to-previous {
      animation: transition-to-previous-animation 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .item-responsive-width {
    width: 50%; // 2 per row
  }

  @media only screen and (max-width: 512px) {
    #active-image {
      .nav-icon-container {
        display: none !important;
      }

      .images-container {
        .image-container {
          img {
            pointer-events: none;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .item-responsive-width {
      width: 33.33%; // 3 per row
    }
  }

  @media only screen and (min-width: 992px) {
    .item-responsive-width {
      width: 25%; // 4 per row
    }
  }

  @media only screen and (min-width: 1200px) {
    .item-responsive-width {
      width: 20%; // 5 per row
    }
  }

  @media only screen and (min-width: 1400px) {
    .item-responsive-width {
      width: 16.66%; // 6 per row
    }
  }
}